# **CCA: Complete Case Analysis**

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("../files/data_science_job.csv")

In [3]:
data.sample(5)

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,training_hours,target
15388,28888,city_21,0.624,NaN,Has relevent experience,Full time course,Graduate,STEM,10.0,50-99,Pvt Ltd,40.0,1.0
13645,33198,city_136,0.897,Male,Has relevent experience,no_enrollment,Masters,STEM,16.0,<10,Early Stage Startup,14.0,0.0
8903,6429,city_75,0.939,Female,Has relevent experience,no_enrollment,Graduate,STEM,11.0,100-500,Pvt Ltd,105.0,0.0
7558,8317,city_16,0.910,Male,No relevent experience,Full time course,Graduate,STEM,4.0,NaN,NaN,86.0,0.0
10821,15490,city_64,0.666,Male,Has relevent experience,no_enrollment,Graduate,STEM,20.0,100-500,Pvt Ltd,24.0,0.0

In [7]:
data.isnull().mean()*100

enrollee_id                0.000000
city                       0.000000
city_development_index     2.500261
gender                    23.530640
relevent_experience        0.000000
enrolled_university        2.014824
education_level            2.401086
major_discipline          14.683161
experience                 0.339284
company_size              30.994885
company_type              32.049274
training_hours             3.998330
target                     0.000000
dtype: float64

*We will CCA only in those columns which have less than 5% of missing values*

In [9]:
cols = [
    x
    for x in data.columns
    if data[x].isnull().mean() < 0.05 and data[x].isnull().mean() > 0
]
cols

['city_development_index',
 'enrolled_university',
 'education_level',
 'experience',
 'training_hours']

In [10]:
data[cols].sample(5)

,city_development_index,enrolled_university,education_level,experience,training_hours
11345,0.579,no_enrollment,Graduate,14.0,19.0
11412,0.689,no_enrollment,High School,8.0,102.0
17737,NaN,no_enrollment,Graduate,5.0,86.0
11763,0.855,no_enrollment,Graduate,4.0,75.0
16893,0.897,no_enrollment,Masters,19.0,42.0

In [12]:
new_data = data[cols].dropna()
new_data.isnull().sum()

city_development_index    0
enrolled_university       0
education_level           0
experience                0
training_hours            0
dtype: int64