# **KNN Imputer**

In [32]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.impute import KNNImputer
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

In [33]:
data = pd.read_csv("../files/train.csv")[["Age", "Pclass", "Fare", "Survived"]]

In [34]:
data.sample(5)

      Age  Pclass      Fare  Survived
702  18.0       3   14.4542         0
318  31.0       1  164.8667         1
143  19.0       3    6.7500         0
436  21.0       3   34.3750         0
336  29.0       1   66.6000         0

In [35]:
data.isnull().sum()

Age         177
Pclass        0
Fare          0
Survived      0
dtype: int64

In [36]:
X = data.drop(columns=["Survived"])
y = data["Survived"]

In [37]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=10
)

In [38]:
knn_imputer = KNNImputer(weights="distance", n_neighbors= 10)

In [39]:
X_train_imputed = knn_imputer.fit_transform(X_train)
X_test_imputed = knn_imputer.transform(X_test)

In [40]:
data_imputed = pd.DataFrame(X_train_imputed, columns=X_train.columns)
data_imputed.sample(5)

           Age  Pclass    Fare
699  43.333333     1.0  79.200
659  51.000000     3.0   7.750
397   5.000000     2.0  27.750
422   9.000000     3.0  20.525
693  39.000000     3.0   7.925

In [41]:
lr = LogisticRegression()
lr.fit(X_train_imputed, y_train)
pred = lr.predict(X_test_imputed)
accuracy_score(y_test, pred)

0.770949720670391

In [ ]:
# 75% accuracy with 5 neighbours and uniform weights
# 76% accuracy with 5 neighbours and distance weights
# 77% accuracy with 10 neighbours and distance weights