# **Imputing categorical data**

**1. Replacing missing data with mode**

In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.impute import SimpleImputer

In [3]:
data = pd.read_csv(
    "../files/data_science_job.csv", usecols=["enrolled_university", "education_level"]
)

In [4]:
data.isnull().mean()*100

enrolled_university    2.014824
education_level        2.401086
dtype: float64

In [5]:
data.sample(5)

      enrolled_university education_level
15574       no_enrollment        Graduate
5994        no_enrollment        Graduate
16824    Full time course        Graduate
1773     Full time course     High School
13343    Part time course         Masters

In [6]:
imputer = SimpleImputer(strategy="most_frequent")

In [7]:
data_new = imputer.fit_transform(data)

In [9]:
data_new = pd.DataFrame(data_new, columns=data.columns)

In [10]:
data_new.isnull().mean()

enrolled_university    0.0
education_level        0.0
dtype: float64

**2. Replacing by word missing**

In [12]:
data.isnull().mean()*100

enrolled_university    2.014824
education_level        2.401086
dtype: float64

In [14]:
data["enrolled_university"] = data["enrolled_university"].fillna("Missing")
data["education_level"] = data["education_level"].fillna("Missing")

In [16]:
data.isnull().sum()

enrolled_university    0
education_level        0
dtype: int64